@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.h1, .h2, .h3, .h4 {
  font-family: 'Oswald', sans-serif;
}

.h1, .h2 {
  letter-spacing: -2.5px;
}

.h1 {
  font-size: 160px;
  text-align: center;
}

.h2 {
  font-size: 30px;
}

.h3 {
  font-size: 25px;
}

.h4 {
  font-size: 20px;
}


.text_color_red {
  color: #DE193A;
}

.text_transform_uppercase {
  text-transform: uppercase;
}
